.Step{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}
.StepContainer{
  width: 100px;
  height: 100px;
  background-color: rgba(104, 138, 78, .4);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary-color);
  font-size: 24px;
  font-weight: 500;
}