.Footer{
  height: 100%;
  background-color: #000000;
  color: #ffffff;
  padding: 15px;
}
.FooterContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.FooterDescription{
  text-align: center;
  font-size: 12px;
}
.FooterDescription .Paragraph{
  margin: 1px 0;
}
.Logo a{
  font-family: "Just Another Hand", cursive;
  font-size: 40px;
  color: #ffffff;
}
.ContactInfo a{
  color: #ffffff;
}
.ContactInfo{
  display: flex;
  gap: 10px;
}